*{
    box-sizing:border-box;
}
body{
    margin: 20px 40px 20px 20px;
}
.container{
    margin: 20px 0 0 20px;
    
    max-width: 700px;
}
.avatar{
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
    padding-right: 20px;
}
.profile{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

.title_attach-file{
    display:flex;
    justify-content: flex-start;
    align-items: center;    
}
.title_attach-file a{
    text-decoration: none;
    background-color: #0e7eff94;
    padding: 3px 0px 3px 3px;
    color: #fff;
    width: 300px; 
}
.title_name{
    background-color: #0077ff;
    padding: 0px 20px 0px 5px;
    color: #fff;
    font-size: 20px;
}
.title_text{
    background-color: #0077ff;
    padding: 10px 20px 10px 5px;
    color: #fff;
    font-size: 20px;
}
.title_phone{
    font-size: 18px;
}
.img_attach-file{
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}
.form{
    margin-top: 30px;
}
.info{
    display:flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    
}
#name{
    display: block;
    width: 250px;
    margin-right: 20px;
}
#phone{
    display: block;
    width: 450px;
}
.info_text{
    display: block;
    width: 700px;
    min-height: 100px;

}
@media (max-width: 992px) {
    .title_text{
        text-align: justify;
        transform: none;
        margin-top: 20px;
        font-size: 16px;
    }
    .title_phone{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
        .container {
            max-width: 500px;
        }
    .info{
        display: block;
    }
    #name{
    width: 500px;
    margin-bottom: 25px;
    }
    #phone{
        width: 500px;
        margin-bottom: 25px;
    }
    .info_text{
        width: 500px;
    }
    .img_attach-file {
        max-width: 20px;
        max-height: 20px;
        margin-right: 20px;
    }
    .title_attach-file a {
        width: 200px;
        font-size: 14px;
    }
}
